[user]
	name = Simon Mellor
	email = sfusion@gmail.com
[core]
	editor = vim
	autocrlf = false
	excludesfile = /Users/simonmellor/.gitignore
[alias]
	st = status
	co = checkout
[color]
	ui = true
[push]
	default = tracking
[github]
	user = simonmellor
[credential]
	helper = osxkeychain
