[user]
	name = Simon Mellor
	email = sfusion@gmail.com
[core]
	editor = vim
	autocrlf = false
	excludesfile = /opt/boxen/config/git/gitignore
[alias]
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  dc = diff --cached

  dm = ! git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
  sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
  la = ! git config -l | grep alias | cut -c 7-
[color]
	ui = true
[push]
	default = tracking
[github]
	user = simonmellor
[credential]
	helper = /opt/boxen/bin/boxen-git-credential
[hub]
protocol = https
