!TAGS/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!tags/
**.orig
*.7z
*.bowerrc
*.bz2
*.bzip
*.cab
*.deb
*.dmg
*.egg
*.gem
*.gz
*.iso
*.jar
*.log
*.lzma
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msm
*.msp
*.orig
*.pbxuser
*.perspectivev3
*.pid
*.rar
*.rbc
*.rpm
*.seed
*.swo
*.swp
*.tar
*.un~
*.xccheckout
*.xcuserstate
*.xpi
*.xz
*.zip
*~
.*.swp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.Trashes
._*
.apdisk
.bundle/*
.dat*
.directory
.elasticbeanstalk
.grunt
.kitchen.local.yml
.kitchen/
.lock-wscript
.netrwhist
.project
.repl_history
.rspec
.rvmrc
.sass-cache
.settings
.svn
.svn/
.vagrant
/.bundle
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/cookbooks
/coverage/
/db/*.sqlite3
/doc/
/lib/bundler/man/
/log
/pkg/
/public/system
/rdoc/
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/vendor/assets/bower_components
/vendor/bundle
DerivedData
GPATH
GRTAGS
GTAGS
Icon
Network Trash Folder
Session.vim
TAGS
Temporary Items
Thumbs.db
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
\#*\#
bin
bin/*
bower.json
build/
build/Release
capybara-*.html
config/initializers/secret_token.rb
config/secrets.yml
coverage
cscope.files
cscope.in.out
cscope.out
cscope.po.out
ehthumbs.db
gtags.files
lib-cov
log
log/*
logs
node_modules
nohup.out
pickle-email-*.html
pids
rerun.txt
tDS_Store
tags
xcuserdata
